<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <div class="collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="#">About</a></li>
          </ul>
        </div>
      </button>
      <a class="navbar-brand" href="#intro">Facebook Login Map Location</a>

    </div>
  </div>
</nav>
